<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.ApplyDao">
	<select id="selectAll" resultType="Apply">
		SELECT *
		FROM apply
	</select>
	
	<select id="selectByRecruitId" parameterType="int" resultType="Apply">
		SELECT *
		FROM apply
		WHERE recruitid = #{recruitid}
	</select>
	
	<select id="selectByCreatorId" parameterType="int" resultType="Apply">
		SELECT *
		FROM apply
		WHERE creatorid = #{creatorid}
	</select>
	
	<select id="select" parameterType="int" resultType="Apply">
		SELECT *
		FROM apply
		WHERE id = #{id}
	</select>
	
	<insert id="insertApply" parameterType="Apply">
		INSERT INTO apply(recruitid, creatorid, title, content)
		VALUES (#{recruitid}, #{creatorid}, #{title}, #{content})
	</insert>
	
	<delete id="deleteApply" parameterType="int">
		DELETE FROM apply
		WHERE creatorid = #{creatorid} AND recruitid = #{recruitid}
	</delete>
	
	<select id="selectMy" parameterType="int" resultType="Apply">
		SELECT *
		FROM apply
		WHERE creatorid = #{creatorid}
	</select>
	
</mapper>